certifi==2026.4.22
charset-normalizer==3.4.7
greenlet==3.1.1
idna==3.13
numpy==2.2.2
psycopg2-binary==2.9.10
requests==2.33.1
scipy==1.15.1
SQLAlchemy==2.0.37
typing_extensions==4.12.2
urllib3==2.6.3
